<form (submit)="onSubmitLogin()">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" [(ngModel)]='email' name="email" class="form-control" id="exampleInputEmail1"
    aria-describedby="emailHelp" placeholder="Enter email"  required>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" [(ngModel)]='password' name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
  </div>
  <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
</form>
